* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
	width: 100%;
	margin: 0;
}

.column-container{
  font-size: 0;
  > * {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
  }
}

.navbar{
	background-color: #F5F5F5;
	color: #24292E;
	height: 50px;
	padding: 4px 72px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: 24px;
}

.github-logo i{
	font-size: 38px;
	margin-right: 12px;
}

.search{
	width: 300px;
	margin-top: 6px;
	margin-bottom: 6px;
	padding: 4px;
}

.navbar h2{
	margin-left: 24px;
	margin-top: 12px;
	font-size: 14px;
}

.navbar .fa-bell{
	font-size: 18px;
	padding-left: 12%;
	padding-top: 10px;
}

.navbar .fa-plus{
	font-size: 18px;
	padding-left: 16px;
	padding-right: 4px;
	padding-top: 10px;
}

.navbar .fa-user{
	font-size: 18px;
	padding-left: 16px;
	padding-right: 4px;
	padding-top: 10px;
}

.navbar .fa-caret-down{
	padding-top: 12px;
}

.user-profile{
	width: 20%;
	padding-left: 72px;
}

.user-profile img{
		height: 230px;
		width: 230px;
}

.user-profile h1{
	margin-bottom: 0px;
}

.user-profile h2{
	font-weight: 100;
	margin-bottom: 12px;
	margin-top: 0px;
	color: #aaa;
}

.user-profile h3{
	font-weight: 100;
	margin-bottom: 0px;
	margin-top: 0px;
	color: #aaa;
}

.unfollow{
	padding: 8px 90px;
	margin-top: 24px;
	margin-bottom: 24px;
}

.user-profile p{
	color: #aaa;
}

.user-repo{
	width: 80%;
	padding-left: 180px;
}

.repo-details{
	border-bottom: 1px solid #ddd;
}

.user-repo h3{
	padding-right: 60px;
}

.type{
	margin-left: 24px;
	margin-top: 6px;
	padding: 6px 36px;
}

.language{
	margin-left: 2px;
	margin-top: 6px;
	padding: 6px 36px;
}

.user-repo span{
	background-color: #ddd;
	padding: 2px;
}

.repo-details h2{
	color: #4A76BC;
}

.repo-details i{
	padding-left: 40px;
}

.repo-details span{
	padding-left: 40px;
	background-color: #fff;
}
